#intro{
    height:calc(100vh-4rem);
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bg{
    position: absolute;
    top: -1rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    max-width: 100vw;
}
.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color: #EBCD6D;
}
.introPara{
    font-size: medium;
    font-weight: 200;
}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}
.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1.5rem;
}
@media screen and (max-width:840px){
    .bg{
        right: -3vw;
    }
    .introContent{
        font-size: 9vw;
    }    
    .hello{
        font-size: 4.5vw;
    }
}
@media screen and (max-width:480px){
    .bg{
        right: auto;
    }    
}

